

.code_box1 {
width: 40%;
background-color: rgb(167, 185, 204);
margin: 0;
padding: 0;
list-style-type: none;
}
.code_box2 {
width: 55%;
background-color: rgb(167, 185, 204);
margin: 0;
padding: 0;
list-style-type: none;
}
.code_box3 {
width: 40%;
background-color: rgb(167, 185, 204);
margin: 0;
padding: 0;
list-style-type: none;
}
.code_box4 {
width: 40%;
background-color: rgb(167, 185, 204);
margin: 0;
padding: 0;
list-style-type: none;
}
.code_box5 {
width: 55%;
background-color: rgb(167, 185, 204);
margin: 0;
padding: 0;
list-style-type: none;
}
body {
font-family:'Trebuchet MS';
font-size: medium;
background-color:#9db39f;  
}
h4 {
font-family: 'Trebuchet MS';
font-weight: bold;
}
h5 {
font-family: 'Trebuchet MS';
font-weight: bold;
}
p {
font-family: 'Trebuchet MS';
}
#fig1 {
width: 40%;
height: 40%;
}
#fig2 {
width: 50%;
height: 50%;
}
